@charset "utf-8";
/* CSS Document */

html, body { background: #eeeeee; width:100%; }
* { margin: 0px; padding: 0px; }
.wrap { margin-right: auto; margin-left: auto; width:1000px; }

.clear { clear:both;height:0px;line-height:0px;font-size:0px; }

.leftFloat { float:left; }
.rightFloat { float:right; }

/* BEGIN HEADER INFO - INCLUDES THE MENU SECTION */
#header { height:124px; width:1000px; text-align:right;position:relative; }

.headerlogo { background: url(../images/index/head_logo.png) no-repeat;width:219px;height:56px;float:left;margin-top:10px; }

ul.header_navigation { float:right;padding-top:20px;margin-bottom:2px;width:550px; }
ul.header_navigation li { float:left;list-style-type:none;padding: 0 5px; }

ul.nonlink li { float:left;list-style-type:none;padding: 0 2px; }

.cart_icon { height:13px;width:13px;background: url(../images/index/head_shopCart.png) no-repeat;padding: 0 2px; }

ul.header_subnavigation { float:right;margin-top:3px;border-top:2px #333333 solid;width:550px;margin-right:5px; }
ul.header_subnavigation li { float:left;list-style-type:none;padding: 0 5px; }

#ieSixSupportBanner { display:none; }

/* MENU AREA */

#mainMenu { float:left;margin-top:10px;width:1000px;height:48px; }
ul.menuArea { float:left;height:48px;width:1000px; }
ul.menuArea li { background:url(../images/index/topNav_bgFill.png) repeat-x;float:left;list-style-type:none;padding:0px;margin:0px;height:48px; }
ul.menuArea li#first, ul.menuArea li#last { background: none; }
ul.menuArea li a { background:url(../images/index/topNav_bgFill_Static.png) repeat-x;position:relative;top:18px;height:48px;width:100%;margin-1eft:10px;padding-right:10px;padding-left:5px;padding-top:18px;padding-bottom:11px; }
ul.menuArea li a:hover, ul.menuArea li.hovering a, ul.menuArea li a.activePage { background:url(../images/index/topNav_bgFill_Hover.png) repeat-x;height:48px; }

ul.menuArea li.search { width:313px; text-align:right;height:48px; }
ul.menuArea li input.btnSearch { vertical-align:middle; }

.secondaryMenuItems { margin-left:10px;margin-right:10px; }
.shadowRow { background:url(../images/index/topNav_bgFill_blank.png) repeat-x #009a3d;height:17px;z-index:1; }


/* END MENU AREA */

/* END HEADER INFO */

/* START FOOTER INFO */

#footer { width:1000px;height:50px;position:relative; }
#footer ul { float:left;margin:0px; }
#footer ul li { list-style-type:none; }
.footFirst { float:left;background: none; width:16px;height:50px; }
.footLast { float:right;background: none; width:16px;height:50px;  }
.footContent { float:left;background:url(../images/index/footer_bgFill.png) repeat-x; width:958px;height:50px;padding:5px; }
.footLogo { float:left;width:91px; height:20px;padding-right:10px;padding-top:3px; }
.ftrLinks { padding:15px;border-top:2px solid #009A3D; }

ul.footer_navigation { width:780px; }
ul.footer_navigation li { float:left; list-style-type:none; padding:0 2px; }

/* END FOOTER INFO */

/* START MAIN CONTENT SECTION */

#hpMainContent { background-color:#009a3d;z-index:1; }

#hpMiniFlyer { border-left:1px #999999 solid;border-top:1px #999999 solid;border-bottom:2px #999999 solid;border-right:2px #999999 solid; }

#mainContent { 
	border-left:1px solid #009A3D;
	border-right:1px solid #009A3D;
	background-color:#009a3d;
	background-image: -moz-linear-gradient(top, #009a3d, #dff2e7); /* Firefox 3.6 */
  	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dff2e7),color-stop(1, #009a3d)); /* Safari & Chrome */
  	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e6e6e6', endColorstr='#CCCCCC'); /* IE6 & IE7 */
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#009a3d', endColorstr='#dff2e7')"; /* IE8 */
	z-index:1; }

#page { margin-left:15px;margin-right:15px;margin-bottom:5px;background-color:#ffffff;padding-bottom:5px; }
#hpPage { margin-left:15px;margin-right:15px; }

.secondaryPage { border-top:1px #000000 solid; border-left:1px #000000 solid; }

.rounded-corners { -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }

h1 { margin-left:15px; } /* Positions main page header to be in line with the edge of the white page */
h4 { margin-left:5px; } /* h3 doesn't need positioning unless .mainContent isn't used. This positions h4 in from h3 */

ul.movePos { margin-left:20px;line-height:18px; }

.mainContent { padding:10px; }

.blankBGwBorder { border:2px #d0e8d8 solid; }

.HideSection {display:none;}
.ShowSection {display:block;}

.resultsSep { border-bottom:1px #333333 solid;padding-bottom:5px;margin-bottom:10px; }

.setMiddleAlign { vertical-align:middle; }

/* HOME PAGE */

#hpPromoArea { width:549px;height:258px;margin:0;padding:0; }
.hpHeaderBar { border:1px #bfd5ce solid;background:url(../images/index/hpHeaderBG.jpg) repeat-x bottom #eeeeee;width:98%;height:38px;padding-left:5px; }
.hpTallHeaderBar { border:1px #bfd5ce solid;background:url(../images/index/hpHeaderBG.jpg) repeat-x bottom #eeeeee;width:98%;height:60px;padding-left:5px; }
.hpNoBGHeaderBar { width:90%;height:40px; }
#hpFlyerArea, #hpRebateCenter, #hpOrderTracker, #hpGiftCards, #hpStoreLocator { padding:5px; }
#hpFlyerArea { height:248px;width:408px; }
#hpGiftCards, #hpStoreLocator { width:410px; }
.hpLightLeftBorder { border-left:2px #cccccc solid; }
#hpRebateCenter, #hpOrderTracker { width:260px; }
.setFlyer { width:39%;text-align:center; }
.setEmail { width:59%;text-align:center; }

#hpCredCrdMLogo { background-color:#eeeeee; }

#hpGiftCardImage { margin-top:-60px;margin-left:150px;width:98px;height:80px;vertical-align:middle; }
#hpGCText { margin-top:-55px;margin-right:10px; }
#hpEMText { margin-top:-30px;margin-right:10px; }
#hpWAText { margin-top:-105px;margin-right:10px; }

#hpWeeklyAd { background-color:#009a3d;width:98%;padding-left:5px;padding-bottom:5px;border-right:1px #333333 solid;border-bottom:2px #333333 solid; }

#hpSLImage { margin-top:-50px;margin-left:180px;width:236px;height:62px;vertical-align:middle; }

#hpServiceArea { width:100%; height:170px;background-color:#ffffff; }
#hpBIGCards { width:49%; height:170px; }
#hpGuestServ { width:48%; height:170px; }

#hpSpecialty { text-align:center;width:100%; }
.hpBuckets { padding-left:5px;padding-right:5px; }

/* END HOME PAGE */

/* FAQs And Others (please list) */

.infoText { margin:5px;padding-left:5px; }
.infoList { margin-left:30px; }

/* END FAQs And Others (please list) */

/* ENERGY STAR */

.posForFour { width:230px;height:270px;margin-right:4px;margin-top:10px;float:left; }
.posForTwo { width:468px;height:230px;margin-right:4px;margin-top:10px;float:left; }

#taxCredit { border:2px #d0e8d8 solid;background:url(../images/index/gradientTop.jpg) repeat-x top; }
#didYouKnow { border:2px #d0e8d8 solid; }
#pledgeForm { border:2px #e2e2e2 solid;background:url(../images/energyStar/pledgeFormBG.jpg) no-repeat top; }
#homeAdvisor { border:2px #e2e2e2 solid;background:url(../images/energyStar/homeAdvisorBG.jpg) no-repeat top; }
#kidsAct { border:2px #007e32 solid;margin-right:0px; }
#prodOffered { border:2px #e2e2e2 solid;margin-right:0px; }

#pledgeForm h4, #homeAdvisor h4, #kidsAct h4, #didYouKnow h4, #prodOffered h4, h4.resetMargin { margin-left:0px; }
#pledgeForm .allText, #taxCredit .allText, .setESpadding { padding:10px; }
#homeAdvisor .homeAdvise { padding-left:10px;padding-top:10px;padding-bottom:120px; }
#kidsAct .esActFor { padding-bottom:0px; }
#kidsAct h2 { padding-top:0px; }

.energyStar { margin-left:20px;list-style-type:none; }
.taxCredImg { padding:5px; }

#energyStarLogo { padding-top:80px; }
#esActKidsImg { padding:3px; }

#esEnterSku { width:950;padding:10px;background:url(../images/index/gradientTop.jpg) repeat-x top;border:2px solid #d0e8d8; }
#ineligibleSku { padding:10px; color:#990000; }
#esErrorMsg { text-align:center;color:#990000; }
#esSuccessMsg { text-align:right;padding-right:100px;color:#990000; }

/* END ENERGY STAR */

/* START SUPPLYER FORM (VENDOR REGISTRATION) */

#supplyerArea label { width:400px;padding-left:20px;float:left; }
#supplyerArea .likeLable { padding-left:20px; }
#supplyerArea table { width:700px;border:1px #000000 solid;margin-left:20px; }
#supplyerArea td, #supplyerArea th { border:1px #000000 solid;padding:3px; }
#supplyerArea .tableTitle { background: #D4EBDD; }

/* END SUPPLYER FORM (VENDOR REGISTRATION) */

/* START GUEST SERVICES */

#gsRecentPurchase { width:930px;height:255px;padding-left:10px;padding-top:10px;padding-bottom:20px;padding-right:25px;border-bottom:2px #d0e8d8 solid; }
#gsReturnPolicy { width:350px;border:2px #d0e8d8 solid;padding:5px; }
#gsProtectionPlan { width:350px;margin-right:15px;border:2px #d0e8d8 solid;padding:5px; }
#gsOrderTracker { width:350px;margin-right:15px;border:2px #ffffff solid;padding-left:5px; }
#gsRebates { width:350px;border:2px #ffffff solid;padding-left:5px; }

/* END GUEST SERVICES */

/* START ORDER TRACKER */

#fullSOerror, #fstFourerror, #lstEighterror, #allSOerror { border:1px #990000 double;background:#FFE6E6;width:600px;padding:10px; }
#otProtectPlan { width:475px; height:160px; margin-right:17px; border:2px #d0e8d8 solid;padding:10px; float:left;}
#otReturnPol { width:400px;height:160px;border:2px #d0e8d8 solid;padding:10px; float:left; }

/* END ORDER TRACKER */

/* FEATURED PROJECTS */

#leftFeatContent { margin: 10px 10px 10px 15px;float: left;width:150px; }
#rightFeatContent { float: left;border:1px solid #CECECE;margin: 10px; }

#IEFormFieldDiv { padding:5px; }
#pagingTop, .singlePlan { width:745px; }
#pagingBottom { width:740px;text-align:right;padding:5px; }

/* FEATURED PROJECTS */

/*REBATES */
.rebate_main_background {
	height:350px;
	width:945px;
	background:url(../images/rebates/pileOmoney.jpg) no-repeat;
	margin:auto;
}

.rebate_main_info{
	width:500px;
	height: 100px;
	padding-left: 42px;
	padding-top: 90px;
}

.rebate_main_info h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight:bold;
  color:#ffffff;
  margin-left:-1px;
  margin-bottom:10px;
}
	
.rebate_main_info h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight:bold;
  color:#ffffff;
  margin-bottom:10px;
}
	
.rebate_form_info{
	width:500px;
	height: 100px;
	padding-left: 42px;
	padding-top: 20px;
}

.rebate_form{
	width:500px;
	height: 50px;
	padding-left: 42px;
}

.rebate_FAQbox {
  height: 100px;
  width:890px;
  margin-left: 40px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #fdfefd, #d5e6da); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5e6da),color-stop(1, #fdfefd)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da')"; /* IE8 */
}

.rebate_FAQs_text {
  height: 100px;
  width:890px;
  margin-left: 33px;
  margin-top:10px;
}

.rebate_FAQs_text .link {
  width:830px;
  margin-top: 20px;
  text-align:right;
}


.rebate_FAQs_text .link h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  text-decoration:underline;
  color:#009a3d;
 }

/* END REBATES */

/* START GIFT CARDS */

.top {
	width:835px;
	height:30px;
}

.giftcards {
 height:563px;
 width: 970px;
 background-color:#FFFFFF;
 
}

.giftcard_main{
	height:563px;
	width:835px;
 	margin:auto;
}

.giftcard_main_text  {
	height:200px;
	width:635px;
	padding-left: 13px;
	padding-top: 80px;
}

.giftcard_main_text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#666666;
	font-weight:500;
}

.giftcard_main .image {
	height:315px;
	width:835px;
	background: url(../images/giftCards/main_giftcenter.jpg) no-repeat;
}

.giftcard_main .subcats{
	margin-top: 10px;
	height:215px;
	width:835px;
}

.giftcard_main .filler1{
	height:215px;
	width:60px;
	float:left;
}

.giftcard_main .subcats .giftcards{
	height:215px;
	width:360px;
	border-right:#666 thin solid;
	float:left;
}

.giftcard_main .subcats .giftcards .text{
	height:190px;
	width:340px;
	float:right;
	text-align:center;
}

.giftcard_main .subcats .giftcards .image{
	height:118px;
	width:198px;
	background:url(../images/giftCards/giftcards.jpg);
	text-align:center;
	margin:auto;
}

.giftcard_main .subcats .giftcards .text h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color:#717070;
	font-weight:100;
}

.giftcard_main .subcats .giftcards .link{
	height:25px;
	width:290px;
	text-align:right;
}

.giftcard_main .subcats .giftcards .link h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:100;
	color: #666666;
}

.giftcard_main .subcats .corporate_giftcards {
	height:215px;
	width:400px;
	float:left;
}

.giftcard_main .subcats .corporate_giftcards .text{
	height:190px;
	width:340px;
	float:right;
	text-align:center;
}

.giftcard_main .subcats .corporate_giftcards .text h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color:#717070;
	font-weight:100;
}

.giftcard_main .subcats .corporate_giftcards .text h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#104f0c;
	margin-top: 20px;
}

.giftcard_main .subcats .corporate_giftcards .link{
	height:25px;
	width:400px;
	text-align:right;
	float:right;
}

.giftcard_main .subcats .corporate_giftcards .link h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:100;
	color: #666666;
}

.errors { 
	width:960px;
	padding:10px 0px 10px 36px; 
	border: #990000 1px solid; 
	background-color: #FFE6E6; 
	color: #C00;
}

.errors p { 
	margin: 0; 
}

.errors p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

/* START CREDIT PROGRAMS */

.credit_top {
	width:850px;
	height:10px;
}

.credit_main{
	height:750px;
	width:850px;
 	margin:auto;
}

.credit_main_text  {
	height:200px;
	width:635px;
	padding-left: 30px;
	padding-top: 20px;
}

.credit_main_text h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#003e19;
	font-weight:bold;
}

.credit_main_text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#f4f4f4;
	font-weight:300;
	margin-top: 10px;
}

.credit_main_image {
	height:208px;
	width:835px;
	background: url(../images/creditPrograms/main_credit.jpg) no-repeat;
}

.credit_main_card {
	height:495px;
	width:371px;
	float:left;
	margin-left: 30px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d5e6da, #fdfefd ); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fdfefd),color-stop(1, #d5e6da)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd')"; /* IE8 */
}


.credit_main_card .textbox {
	height:auto;
	width:180px;
	float:left;
}

.credit_main_card .textbox2 {
	height:auto;
	width:350px;
	float:left;
}

.credit_main_card .textbox h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:#005e25;
	font-weight:300;
	margin-top: 10px;
	margin-left:15px;
}

.credit_main_card .textbox h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#636363;
	font-weight:bold;
	margin-top: 10px;
	margin-left:15px;
}

.credit_main_card .textbox2 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#636363;
	font-weight:bold;
	margin-top: 10px;
	margin-left:15px;
}

.credit_main_card .textbox2 h2 a{
	text-decoration:underline;
}

.credit_main_card .textbox2 h2 a:hover{
	color:#005e25;
}


.credit_main_card .textbox ul {
	list-style-type:disc;
	display:block;
	margin-left:30px;
}

.credit_main_card .textbox li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#636363;
	margin-top: 10px;
}

.credit_main_card .textbox2 ul {
	list-style-type:disc;
	display:block;
	margin-left:30px;
}

.credit_main_card .textbox2 li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#636363;
	margin-top: 10px;
}

.credit_main_card .images {
	height:auto;
	width:180px;
	float:left;
}

.credit_main_card .images .cardimage {
	height:127px;
	width:180px;
	float:left;
	margin-bottom: 20px;
	background:url(../images/creditPrograms/bigcard_image.gif) no-repeat;
}

.credit_main_card .images .contractorcardimage {
	height:127px;
	width:177px;
	float:right;
	background: url(../images/creditPrograms/contractor_image.gif) no-repeat;
}

.credit_main_card .images .offerbox {
	height:122px;
	width:125px;
	float:right;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d5e6da, #fdfefd ); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fdfefd),color-stop(1, #d5e6da)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd')"; /* IE8 */
}

.credit_main_card .images .paybox {
	height:50px;
	width:125px;
	float:right;
	margin-top:10px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d5e6da, #fdfefd ); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fdfefd),color-stop(1, #d5e6da)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd')"; /* IE8 */
}

.credit_main_card .images .offerbox h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#005e25;
	font-weight:bold;
	margin: 5px;
	line-height:17px;
}

.credit_main_card .images .offerbox h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#009a3d;
	text-align:center;
	text-decoration:underline;
}

.credit_main_card .images .offerbox h2 a{
	text-decoration:underline;
}

.credit_main_card .images .offerbox h2 a:hover{
	color:#005e25;
}

.credit_main_card .images .paybox h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#009a3d;
	text-align:center;
	text-decoration:underline;
	margin-top: 5px;
}

.credit_main_card .images .paybox h2 a{
	text-decoration:underline;
}

.credit_main_card .images .paybox h2 a:hover{
	color:#005e25;
}

.credit_main_card .gasimages {
	height:62px;
	width:318px;
	margin-left: 25px;
	margin-top:20px;
	background:url(../images/creditPrograms/gas_stations.gif);
}

.credit_main_card .applybutton {
	height:35px;
	width:370px;
	float:left;
}

.credit_main_card .applybutton h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#009a3d;
	text-align:center;
	text-decoration:underline;
	margin-top: 10px;	
}

.credit_main_card .applybutton h2 a {
	text-decoration:underline;
}

.credit_main_card .applybutton h1 a:hover {
	color:#005e25;
}


.credit_main_card .smalltext {
	height:30px;
	width:370px;
}

.credit_main_card .smalltext h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#636363;
	margin-top: 10px;
	text-align:center;
}

.credit_main_card .smalltext2 {
	height:30px;
	width:370px;
	margin-top: 120px;
}

.credit_main_card .smalltext2 h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#636363;
	margin-top: 10px;
	text-align:center;
}

.credit_main_contractor {
	height:495px;
	width:351px;
	float:left;
}

/* END CREDIT PROGRAMS */

/* START GIFT REG */

.giftreg_top {
	width:943px;
	height:10px;
}

.giftreg_main{
	height:500px;
	width:943px;
 	margin:auto;
}

.giftreg_main_text  {
	height:250px;
	width:300px;
	padding-left: 20px;
	padding-top: 10px;
}

.giftreg_main_text h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:#005e25;
	font-weight:400;
	margin-left: -5px;
}


.giftreg_main_text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#005e25;
	font-weight:300;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom:30px;
	
}

.giftreg_main_text h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#005e25;
	font-weight:300;
	margin-top: 10px;
	
}


.giftreg_main_text h3 a {
	color:#005e25;
	text-decoration:underline;
}
	
.giftreg_main_text h3 a:hover {
	color: #6C6;
}
		
	
.giftreg_main_image {
	height:340px;
	width:943px;
	background: url(../images/giftRegistry/registry_main.jpg) no-repeat;
}

.giftreg_greenbox {
	height:258px;
	width:721px;
	margin-top:20px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d5e6da, #fdfefd ); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fdfefd),color-stop(1, #d5e6da)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd')"; /* IE8 */
}

.giftreg_buckets{
	height:112px;
	width:943px;
}

.giftreg_buckets .giftcard_bucket {
	height:112px;
	width:478px;
	margin-right: 29px;
	float:left;
}

.giftreg_buckets .soc_bucket {
	height:112px;
	width:436px;
	float:left;
}
/* END GIFT REG */

/*START PRIVACY*/
.privacy_top {
	height:10px;
}

.main_margins{
	padding-top: 20px;
	width: 950px;
	margin:auto;
}

.text_margin {
	width: 800px;
	margin:auto;
	padding-top:10px;
}
/*END PRIVACY*/

/*START GIFT CARD SUBPAGES*/

.titleboxes {
	height:auto;
	width:925px;
	float:left;
	margin-bottom:10px;
	padding-bottom: 2px;
	padding-top:2px;
	margin-top:30px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d5e6da, #fdfefd ); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fdfefd),color-stop(1, #d5e6da)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d5e6da', endColorstr='#fdfefd')"; /* IE8 */
}

.titleboxes h1 {
	font-size:24px;
	font-weight:bold;
	color:#009a3d;
	
}

.titleboxes h2 {
	font-size:12px;
	font-weight:bold;
	color:#009a3d;
	padding-left: 10px;
}

.formtext {
	padding-left: 5px;
}

.formtext h4 {
	font-size:14px;
	font-weight:bold;
	color:#333333;
}

.formtext h2 {
	font-size:12px;
	color:#333333;
}

.formtext h3 {
	font-size:13px;
	color:#333333;
	padding-top: 10px;
}

.giftcards_return {
  height: 250px;
  width:471px;
  margin-left: 25px;
  float: left;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #d4e6da, #fefefe); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e6da),color-stop(1, #fefefe)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fefefe', endColorstr='#d4e6da'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fefefe', endColorstr='#d4e6da')"; /* IE8 */
}

.giftcards_return_text {
  height: 250px;
  width:440px;
  margin-left: 10px;
  margin-top:10px;
}

.giftcards_return_text .link {
  width:430px;
  margin-top: 10px;
  text-align:right;
}


.giftcards_return_text .link h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  text-decoration:underline;
  color:#009a3d;
 }

.giftcards_questions {
  height: 250px;
  width:400px;
  margin-left: 40px;
  float: left;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #fdfefd, #d5e6da); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5e6da),color-stop(1, #fdfefd)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da')"; /* IE8 */
}

.giftcards_questions_text {
  height: 250px;
  width:340px;
  margin-left: 33px;
  margin-top:10px;
}

.giftcards_questions_text .link {
  width:320px;
  margin-top: 20px;
  text-align:right;
}

.giftcards_questions_text .link h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  text-decoration:underline;
  color:#009a3d;
 }
 
#wrap {
	width:925px;
	height:auto;
	margin:auto;
}
 
 
/*END GIFT CARD SUBPAGES*/

/*START CAREERS*/

.careers_margin {
	height:10px;
}

.main_careers {
	width: 930px;
	background-color:#FFFFFF;
}

.main_careers_secondary {
	width: 930px;
	background-color:#FFFFFF;
	margin-top:30px;
}


.main_careers_image {
	width:995px;
	height:281px;
	margin-bottom: 20px;
}

.main_careers_image_main {
	width:983px;
	height:281px;
	background:url(../images/careers/careers_main.png) no-repeat;
	margin: auto;
}

.careers_box {
  height:auto;
  width:910px;
  margin-left: 10px;
  padding: 10px 10px 20px 25px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #fdfefd, #d5e6da); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5e6da),color-stop(1, #fdfefd)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da')"; /* IE8 */
}

.careers_box_secondary {
  height:auto;
  width:900px;
  margin-top:10px;
  margin-left: 30px;
  padding: 5px;
  border:#76c393 thin solid;
  background-image: -moz-linear-gradient(top, #fdfefd, #d5e6da); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d5e6da),color-stop(1, #fdfefd)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da'); /* IE6 & IE7 */
 -ms-filter: 
 "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdfefd', endColorstr='#d5e6da')"; /* IE8 */
}


.title {
	margin: 5px;
	padding-left:20px;
}

.title h2 {
	font-size:24px;
	font-weight:bold;
	color:#00573d;
}

.wrap_catigories {
	margin-left: 20px;
}

.catigories {
	width:190px;
	height:375px;
	float:left;
	background-color:#f9f9f9;
	border:#CCCCCC 1px solid;
	padding:15px;
	margin: 5px;
}

.catigories h2 {
	font-size:16px;
	font-weight:bold;
	color:#009a3d;
	text-align: left;
	margin-left:-4px;
}

.catigories ul {
	display:block;
	text-align:left;
	margin: 0px;
	padding-left:10px;
}

.catigories li {
	list-style-type:disc;
	font-size:14px;
	font-weight:300;
	color:#333333;
	margin-top: 5px;
	padding:0px;
}

.catigories2 {
	width:250px;
	height:275px;
	text-align:left;
	background-color:#f9f9f9;
	border:#CCCCCC 1px solid;
	padding:15px;
	margin-left: 35px;
}

.catigories2 h2 {
	font-size:16px;
	font-weight:bold;
	color:#009a3d;
	text-align: left;
}
.catigories2 ul {
	display:block;
	text-align:left;
	margin: 0px;
	padding-left:10px;
}

.catigories2 li {
	list-style-type:disc;
	font-size:14px;
	font-weight:300;
	color:#333333;
	margin-top: 5px;
	padding:0px;
}

.benifits {
	margin:10px;
	display:block;
}

.benifits h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#333333;
	font-weight:bold;
}

.benifits h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight:bold;
}

.careers_secondary {
	width: 250px;
	margin-left: 35px;
}

.careers_secondary h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#333333;
	font-weight:bold;
}

.careers {
	margin:10px;
}

.careers h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#333333;
	font-weight:bold;
}

.careers h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666666;
}

.careers h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#009a3d;
	text-decoration:underline;
}

.careers h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#009a3d;
	text-decoration:underline;
	margin-top: 20px;
}


#mainTable {
	margin-left: auto;
	margin-right: auto;
}

#table_content{
	position: absolute;
	width: 100%;
	text-align: center;
}

.rightNav{
	padding-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-indent:5px;
}

.rightNav h2{
	font-size:13px;
	color:#333333;
	font-family:Verdana, Geneva, sans-serif;
}

#rightContent{ 
	float: left; 
	border:1px solid #CECECE;
	margin: 10px;
	font-family:Arial, Helvetica, sans-serif;
}

#middleContent{ 
	float: left; 
	width:340px;
	margin: 10px;
	font-family:Arial, Helvetica, sans-serif;
}

#middleContent_bottom{ 
	margin-top: 10px;
}

#middleContent_bottom h2{ 
	font-size:13px;
	color:#333;
}

#leftContent{
	margin: 10px 10px 10px 15px;
	float: left; 
	width:330px;
}

#leftContent h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#333;
}

#leftContent h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-align:right;
	margin-right:55px;
}

#leftContent h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
}

#leftContent h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
	color:#333333;
}

#leftContent ul {
	list-style-type:disc;
	display:block;
	text-align:left;
	margin-left:70px;
}

#leftContent li {
	font-size:14px;
	font-weight:300;
	color:#333333;
	margin-top: 5px;
}

.careers_general {
	margin:20px 0px 10px 50px;
	width:860px;
}

.careers_general h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333333;
}


.careers_general h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#666666;
}

.careers_general h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#009a3d;
	text-decoration:underline;
}

.careers_general h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#009a3d;
	text-decoration:underline;
}

.careers_general h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#333333;
	font-weight:400;
}



a.catLink,a.catLink:visited{font-family:Arial,Helvetica, sans-serif;font-weight:700;font-size:12px;color:#2F4F4F;text-align:left;line-height:25px;width:140px;text-indent:5px;text-decoration:none;border-top:1px solid #EEE;display:block;clear:both;}
a.catLink:hover{font-family:Arial,Helvetica,sans-serif;font-weight:700;font-size:12px;color:#2F4F4F;text-align:left;line-height:25px;width:140px;background-color:#cacaca;text-indent:5px;text-decoration:none;cursor:pointer;border-top:1px solid #EEE;display:block;clear:both;}
a.mainCat,a.mainCat:visited{font-family:Arial,Helvetica, sans-serif;font-weight:700;font-size:0.75em;color:#333;text-align:left;line-height:30px;width:140px;text-indent:1px;text-decoration:none;border-bottom:1px solid #EEE;display:block;clear:both;padding-bottom:1px;}
a.mainCat:hover{font-family:Arial,Helvetica, sans-serif;font-weight:700;font-size:0.75em;color:#333;text-align:left;line-height:30px;width:140px;text-indent:1px;text-decoration:underline;border-bottom:1px solid #EEE;display:block;clear:both;padding-bottom:1px;}


/* START ORDER LOOKUP */

.positioningForEachArea { position:relative; padding-bottom: 10px; padding-top: 10px; width:900px; }
.positioningSlider { position:relative; text-align:center; padding-bottom: 5px; padding-top: 5px; width:900px; }

.stressedInfoDifColor { color:#922221; font-weight:500; }
.standardText { font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:left; color:#000000; background-color:#ffffff;width:100%;height:100%;  }

#mb_shippingDetails { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align:left; background-color:#ffffff;width:100%;height:100%; }
#mb_orderDetails { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align:left; background-color:#ffffff;width:100%;height:100%; }
.SubCat { text-align:left; font-size: 24px; font-family: Arial, Helvetica, sans-serif; padding-top: 10px; padding-bottom: 5px; color: #0D7037; }

.SODetails { border-bottom-style:solid; border-bottom-width:thin; border-bottom-color:#9D9D9D; border-top-style:solid; border-top-width:thin; border-top-color:#9D9D9D; border-left-style:solid; border-left-width:thin; border-left-color:#9D9D9D; border-right-style:solid; border-right-width:thin; border-right-color:#9D9D9D; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align:left; margin:10px; }
.SODetails th { text-align:left; background-color:#CCDFCC; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px; }
.SODetails td { padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px; }
.SODetails .oddRow { background-color:#ffffff; }
.SODetails .evenRow { background-color:#DBE0DC; }

.noShipInfo { font-weight:bold; text-align:center; }
.alignment { padding-left: 10px; }

.positioningForBtmGradient { position:relative; padding-top: 5px; }

.highlightSlidePosition {font-size:14px; color:#0D7037; font-weight:bold; }

#slider4 { position:relative; }
#slider5 { position:relative; }
#slider6 { position:relative; }

.FourspotTop { text-align:center; float:left; width:170px;}

.FourspotBottom { position:absolute;left:438px; width:132px; text-align:center; margin-top:-10px; }

#sliderImage { text-align:center;}

.FivespotTop0 { position:absolute;left:-20px; width:132px; text-align:center; }
.FivespotTop1 { position:absolute;left:128px; width:132px; text-align:center; }
.FivespotTop2 { position:absolute;left:280px; width:132px; text-align:center; }
.FivespotTop3 { position:absolute;left:426px; width:132px; text-align:center; }
.FivespotTop4 { position:absolute;left:576px; width:132px; text-align:center; }

.FivespotBottom2 { position:absolute;left:350px; width:132px; text-align:center; margin-top:-10px; }
.FivespotBottom3 { position:absolute;left:498px; width:132px; text-align:center; margin-top:-10px; }

.SixspotTop { text-align:center; float:left; width:116px;}

.SixspotBottom2 { position:absolute;left:248px; width:200px; text-align:center; margin-top:-10px; }
.SixspotBottom3 { position:absolute;left:368px; width:200px; text-align:center; margin-top:-10px; }


.showInformation { display:block; }
.hideInformation { display:none; }


.moveInFromLeft { padding-left:25px; }
.moveInFromRight { padding-right:25px; }

.center_text {position:relative; margin-left: 115px;}
/* END MAIN CONTENT SECTION */