@charset "utf-8";
/* CSS Document */

body { font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;color:#333333; } /* Set the main font styles of the entire page(s) */

h1{ font-size:36px; font-weight:bold;color:#ffffff; letter-spacing:-2px; text-shadow: #3f853f 0.1em 0.1em 0.1em; height:40px; } /* Used for Page Titles (ie. Hauler Contact Form, etc.) */

h2 { font-size:30px;font-weight:bold;color:#00573d; } /* Used for Page Headers (ie. Primary Contact Information, etc.) */

h3 { font-size:24px;font-weight:bold;color:#00573D; } /* Used for Sub Headers (ie. Download manufacturer's certification statement for the energy tax credit) */

h4 { font-size:18px;font-weight:bold;color:#00573D; } /* Used for FAQ Questions, etc. */

h5 { font-size:14px;font-weight:normal;color:#ffffff; } /* Used for White Text */

h6 { font-size:14px;font-weight:bold;color:#333333; } /* Used for Important Text (ie. Please choose the one that applies to you:) */

h4.questionsTitles { font-size:16px; }

a { font-weight:bold;color:#008334; } /* Used for ALL Links - other classes will Manipulate this. */
a:hover { text-decoration:underline; } /* All Hover effects on Links */
a:visited { color:#00573d; } /* Visited color for ALL Links (a.mainMenu:visited keeps the Main Menu it's set Color.) */

a.head { color:#00573d; } /* All Header Links */
a.foot, .foot, a.foot:visited { color:#ffffff; } /* All Footer Links and Footer Text */
a.foot { text-decoration:underline; }
.SOCLinkBar { font-size:16px; } /* Header Text and Links for Log-in, or, |, Shopping Cart, etc. */
.MLinkBar { font-size:14px; } /* Header Text and Links for Weekly Ad, |, Store Locator, etc. */

a.mainMenu { font-size:16px;font-weight:bold;color:#ffffff;text-decoration:none; } /* Main Menu links for Products, Promotion, etc. */
a.mainMenu:hover { text-decoration:none; }
a.mainMenu:visited { color:#ffffff; } /* Visited Link for Main Menu */

.registered { font-size:11px;vertical-align:text-top; }

.required, .error { font-size:11px;color:#ff0101;font-weight:normal; } /* Required Field text */

.smallerText { font-size:11px; } /* Smaller Main text */
.resetStandardText { font-size:12px; }

.mainPageInfo { font-size:14px;font-weight:normal;color:#00573d; } /* First Text displayed in main page area, that talks about page */

.accentText { font-weight:bold; } /* Bolding Text that usually not bold (USED IN SPAN TAGS) */
.regularText { font-weight:normal; }

#pledgeForm .allText { color:#ffffff; } /* ENERGY STAR PledgeForm bucket text color */

.slSearchText, .slResultsHeads { color:#00573d;font-size:16px;font-weight:bold; }

#fullSOerror, #fstFourerror, #lstEighterror, #allSOerror { color:#990000; }

.hpHeaderBar, .hpTallHeaderBar, .hpNoBGHeaderBar { font-size:26px;font-weight:bold;color:#333333; }
